.firstSection {
  margin-bottom: 5rem;
  p {
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
    @media #{$landscape} {
      padding-left: 1rem;
    }
  }
  ul {
    font-size: $size-p;
    margin-bottom: 1rem;
    @media #{$landscape} {
      padding-left: 1rem;
    }
    li {
      p {
        margin-bottom: 1rem;
      }
      ul {
        list-style-type: disc;
        padding-left: 2rem;
      }
    }
  }
  &__text {
    display: flex;
    gap: 1rem;
    > p {
      flex: 1;
    }
  }
}
